@page "/medication/{Id:guid}"
@using MedicalAssistant.UI.Components
@using MedicalAssistant.UI.Components.Medication
@using MedicalAssistant.UI.Components.MedicationNotification
@using MedicalAssistant.UI.Components.Visits
@using MedicalAssistant.UI.Models.MedicationNotification
@using MedicalAssistant.UI.Shared.Services.Abstraction

<div class="main-container">
	<MudGrid Class="ma-0 visit-grid">
		<MudItem xs="12" md="6" Class="pa-0 mx-0 visit-item">
			<MudCard Class="visit-card">
				@if (_isMedicationLoading)
				{
					<LoadingSkeletonComponent Class="ma-2" />
				}
				else
				{
					<MedicationDetails Medication="@_medication" />
				}
			</MudCard>
		</MudItem>

		<MudItem xs="12" md="6" Class="pa-0 mx-0 visit-item">
			<MudCard Class="visit-card">
				@if (_notificationsLoading)
				{
					<LoadingSkeletonComponent Class="ma-2" />
				}
				else
				{
					<MedicationNotificationList Notifications="_notifications" MedicationId="Id" />
				}
			</MudCard>
		</MudItem>
	</MudGrid>
</div>

<style>
	.main-container{
		overflow-x: hidden;
	}
	.visit-grid {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 96px);
	}

	.visit-item {
		min-height: calc(100vh - 104px);
		margin-top: 8px;
	}

	.visit-lef-item {
		margin-top: 8px;
	}

	.visit-card {
		height: 100%;
		margin-right: 24px;
	}

</style>
