@using MedicalAssistant.UI.Models.Medication
@using MedicalAssistant.UI.Shared.Services.Abstraction

@if (_loading)
{
    <div class="d-flex flex-column w-100 h-100">
        <LoadingSkeletonComponent Class="pa-4 flex-grow-1"/>
    </div>
}
else
{
    @if (_medications.Count == 0)
    {
        <h3>Brak Rekomendacji :-(</h3>
    }
    else
    {
        <MudTimeline TimelineOrientation="TimelineOrientation.Vertical" TimelineAlign="TimelineAlign.Start">
            @*Morning*@
            @if (_morningMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _morningMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication" />
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>Poranne rekomendacje:</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }


            @*Afternoon*@
            @if (_afternoonMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _afternoonMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication" />
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>Południowe rekomendacje:</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }


            @*Evening*@
            @if (_eveningMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _eveningMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication"/>
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>Wieczorne rekomendacje:</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }

            @*Night*@

            @if (_nightMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _nightMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication" />
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>Nocne rekomendacje:</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }

        </MudTimeline>
    }
}
