@if (!IsChecked)
{
	<div class="mt-3">
		<MudBadge Content="100" Color="Color.Primary" Overlap="true" Class="mr-5 my-1" Max="9">
			<MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" OnClick="()=> ChangeState()" Style="padding-right:0px; padding-top:0px;" />
		</MudBadge>
	</div>
}
else
{
	<MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Class="mr-2" OnClick="()=> ChangeState()" />
}

@code {
	private bool IsChecked = false;


	private void ChangeState()
	{
		IsChecked = !IsChecked;
	}
}