@page "/privacy"
@using MedicalAssistant.UI.Components.Terms


<PageTitle>@Translations.PrivacyPolicyTitle</PageTitle>

<div class="d-flex flex-column" style="height: calc(100vh - 96px);">
	<TermsWrapper Title="@Translations.PrivacyPolicyTitle">
		<PrivacyPolicy />
	</TermsWrapper>
</div>