@page "/terms"
@using MedicalAssistant.UI.Components.Terms

<PageTitle>@Translations.AppTitle</PageTitle>

<div class="d-flex flex-column" style="height: calc(100vh - 96px);">
	<TermsWrapper Title="@Translations.AppTitle">
		<TermsOfUse />
	</TermsWrapper>
</div>