@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@layout BaseLayout
@attribute [AllowAnonymous]

<div class="custom-loading-screen">
	<MudGrid Justify="Justify.Center">
		<MudItem xs="12" md="6" lg="4" Class="align-text-center">
			<div class="custom-loading-container">
				<MudPaper Elevation="3" Class="pa-4">
					@Body
				</MudPaper>
			</div>
		</MudItem>
	</MudGrid>
</div>