@page "/visits"
@using MedicalAssist.UI.Components.Visits
@using MedicalAssist.UI.Models.Visits
@using MedicalAssist.UI.Shared.Services.Abstraction

@if (_loading)
{
	<h1>@Translations.Loading...</h1>

}
else
{
	<VisitScheduler Visits="@_visits" />
}
