@using MedicalAssist.UI.Components
@using MedicalAssist.UI.Shared.Services.Verification
@page "/verify"

@if (_loading)
{
	<LoadingComponent />
}
else
{
	<h1>@_status</h1>
}
@code{

	[Parameter]
	[SupplyParameterFromQuery(Name = "code")]
	public string? Code { get; set; } = null;

	[Inject]
	public IUserVerificationService UserVerificationService { get; set; }

	private bool _loading = true;
	private string _status { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		if(Code is not null)
		{
			var response = await UserVerificationService.VerifyAccount(Code);
			_loading = false;
			_status = response == true ? "Konto zostało zwerifikowane" : "Brak weryfikacji konta.";
		}
	}
}
