<time class="icon">
    <em>@NameOfDay</em>
    <strong>
        @Date.Year <br/>
        @Date.ToString("MMMM")
    </strong>
    <span>@Date.Day</span>
</time>


<style>
    time.icon {
        user-select: none;
        font-size: 1em;
        display: block;
        position: relative;
        width: 7em;
        height: 7.5em;
        background-color: var(--mud-palette-surface);
        border-radius: 0.6em;
        border: solid 2px var(--mud-palette-appbar-background) ;
        overflow: hidden;
    }

    time.icon * {
        user-select: none;
        display: block;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        font-style: normal;
        text-align: center;
    }
    time.icon strong {
        user-select: none;
        position: absolute;
        top: 0;
        padding: 0.4em 0;
        color: #fff;
        background: var(--mud-palette-appbar-background);
        box-shadow: var(--mud-palette-appbar-background);;
    }

    time.icon em {
        user-select: none;
        position: absolute;
        bottom: 0.1em;
        color: var(--mud-palette-text-primary);
    }

    time.icon span {
        user-select: none;
        font-size: 1.7em;
        letter-spacing: -0.05em;
        padding-top: 2.2em;
        padding-bottom: 1.8em;
        color: var(--mud-palette-text-primary);
    }
</style>
@code{
    [Parameter] public DateTime Date { get; set; }

    private string NameOfDay => char.ToUpper(Date.ToString("dddd")[0]) + Date.ToString("dddd")[1..];
}