@page "/currents"
@using MedicalAssistant.UI.Components
@using MedicalAssistant.UI.Components.Medication
@using MedicalAssistant.UI.Components.Visits
@using MedicalAssistant.UI.Components.MedicalNote

<PageTitle>@Translations.MedicalAssist</PageTitle>

<div style="overflow-x: hidden; width: 100%; margin: 0; padding: 0;">
    <MudGrid Spacing="2" Style="overflow-x: hidden; width: 100%; margin: 0; padding: 0;">
        <MudItem xs="12" sm="6" md="3" Class="item">
            <MudPaper Elevation="2" Class="pa-2" Style="height: 300px;">
                <Clock/>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="9" Class="item">
            <MudPaper Elevation="2" Class="pa-2" Style="height: 300px;">
                <VisitDailyTimeline/>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" Class="item">
            <MudPaper Elevation="2" Class="px-2" Style="min-height: calc(100vh - 396px - 24px); height: 100%;">
                <MedicationDailyTimeLine/>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" Class="item">
            <MudPaper Elevation="2" Class="px-2" Style="min-height: calc(100vh - 396px - 24px); height: 100%;">
                <DailyNotesComponent />
            </MudPaper>
        </MudItem>
    </MudGrid>

</div>

<style>
    .item ::deep {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
</style>

@code{
    [Inject] private NavigationManager NavigationManager { get; set; }
}