@page "/privacy-policy"
@using MedicalAssistant.UI.Components.Terms

<PageTitle>@Translations.PrivacyPolicyTitle</PageTitle>

<div class="d-flex flex-column" style="height: 100%;">
    <TermsWrapper Title="@Translations.PrivacyPolicyTitle">
        <PrivacyPolicy/>
    </TermsWrapper>
</div>