@page "/terms-of-use"
@using MedicalAssistant.UI.Components.Terms

<PageTitle>@Translations.AppTitle</PageTitle>

<div class="d-flex flex-column" style="height: 100%;">
    <TermsWrapper Title="@Translations.AppTitle">
        <TermsOfUse/>
    </TermsWrapper>
</div>